<header>
    <div class="d-flex nav-bar">
        <img class="mx-3" src="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiYm9zY2hcL2FjY291bnRzXC9hNVwvNDAwMDA5OFwvcHJvamVjdHNcLzIyOVwvYXNzZXRzXC8xYlwvMTE0MDUxXC9mMTQyMWFiZDVhODY2MzljOGM0ZjJlM2FiZjQ3MWFlYi0xNTkwNzQ2MjY1LnN2ZyJ9:bosch:lFhI6BBD0LVPSURyRBjLLsVySpt3hxhyE95UqXOfrOY?width={width}&rect=0,0,160,36&reference_width=160" width="160px">
        <p class="fs-4 my-3 mx-auto">Boschetas Store</p>
        <a class="position-relative mt-4 me-3" href="/cart">
            <i class="bi bi-cart fs-5"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{totalInCart}}</span>
        </a>
    </div>
</header>